<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title>Guppy II</title>
  <style>
    html,
    body {
      padding: 0px;
      margin: 0px;
      background-color: black;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
    }

    .game {
      box-sizing: border-box;
      height: 100%;
      margin: 0 auto;
    }
  </style>
</head>

<body>
</body>

</html>
